@media screen and (max-width: 1480px) and(min-width: 1290px) {

    .container-fluid{

        .list-inline 
        {
            .title-list-nav 
            {
                a{margin-left: 14px;}
            }
            .title-creat{
                left: -34px;
                .icon-sreach{   
                    margin-left: 127px;
                }
            }
            .title-login{left: 66px;}
        }
        .title-bottom{    padding: 9% 5% 0% 20%;
            #logo-1{margin-bottom: -10%;}
            .page-text-a {
                padding-top:85px;
                .text-1 { 
                    font-size: 49px;
                }
                .icon-ab{  
                    height: 14px;
                    width:69px;
                    margin: -57px -3px 0px 0px;}
                    .icon-a1{   
                        height: 14px;
                        margin:-24px 89px 0px 0px;
                    }
                    .icon-bb{
                        height: 14px;
                        width:69px;
                        margin: -24px 9px 0px 0px;
                    }
                    .icon-a{    width: 25.2px;
                        height: 14px;
                        margin: 19px 0px 0px -26px;
                    }
                    .icon-b{
                        height: 14px;
                        width:69px;
                        margin: -14px 0px 0px -77px;
                    }
                }
                .page-text-b p{
                    max-width: 406px;
                    padding-top: 60px;
                    font-size: 13px;
                }
            }
            .rectangle{
                .prev {
                    p{
                        margin: 5px 0px 0px 26px;
                    }
                }
                .next{margin-left: 525px;}
            }
            .section-title-1{    padding: 17% 1% 0% 7%;
                .span-text-1{     max-width: 265px;
                    h2{    font-size: 28px;}
                    .top-text-2{       margin-top: 0px;}
                    .text-a{ p{    padding-top: 22px;    font-size: 16px;}}}
                    .top-text{    margin-top: -13px;
                    }
                }
                .sesstion-title-2{
                    .title-lisst {    margin: 20% 0 0 23%;
                        p{
                            a{font-size: 21px;}
                        }
                        .ti-star {
                            a {font-size: 21px;}
                        }
                    }
                    .img-list-book{
                        .img-book-bottom{
                            bottom: -43px;
                            p{
                                a{
                                    text-align: center;
                                    position: absolute;
                                    float: right;
                                    margin-right: -209px;
                                    width: 87px;
                                    height: 34px;
                                    border-radius: 100px;
                                    background-color: #ffc107;
                                    right: 132px;
                                    top: 131px;
                                    padding-top: 7px;
                                }
                            }
                        }
                    }
                }
                .title-list-rotund{    padding: 13% 0 6% 6%;
                    .col-md-2 {
                        .icon_support{
                            color: #fff;
                            text-align: center;
                            padding-top: 7px;
                        }
                        a{
                            float: right;
                            width: 87px;
                            height: 36px;
                            border-radius: 100px;
                            background-color: #ffc107;
                        }
                    }
                    div{ 
                        p{
                            width: 249px;
                            margin-left: -12px;
                        }
                        .img-rotund{
                            margin-left: 31%;
                            max-width: 84%;
                        }
                    }
                }
                .sesstion-teacher{    margin-top: 276px;
                    .col-md-6 {
                        .img-teacher{}
                        .teacher{  
                            margin: 152px 64px 0px 105px;
                            .list-text{
                                font-size: 14px;
                                max-width: 425px;
                            }
                            .teacher-col{
                                font-size: 29px;
                            }
                            .icon-list-b{   
                                width: 67px; height: 16px;  
                                position: absolute;
                                top: 153px;
                                left: 128px;
                                width: 67px;
                                height: 16px;
                                border-radius: 20px;
                                background-color: #00bcd4;
                            }
                            .icon-list-1{
                                height: 16px;
                                width: 38px;
                                border-radius: 20px;
                                position: absolute;
                                background-color: #e91e63;
                                left: 77px;
                                top: 136px;
                            }
                        }
                    }
                }
                .sesstion-comment 
                {
                    .comment-list{   

                        margin-left: 39px;
                        max-width: 500px;
                        min-height: 185px;

                        .text-comment{
                            font-size: 13px;

                            .img-comment-user-1{    
                                max-width: 90px;
                                max-height: 90px;
                                margin: -3px 15px 0px 0px;
                            }  
                        }
                        .icon-text-1{
                            float: right;
                            margin-top: -6px;
                        }
                    }
                    .comment-title{ 
                        max-width: 536px;
                        min-height: 305px;
                        .text-comment{
                            font-size: 13px;
                        }
                    }
                }
                .comment-list{
                    .img-comment-user-1
                    {
                        margin: -3px 15px 0px 0px;    
                        max-width: 90px;
                        max-height: 90px;                            
                    }
                    .icon-comment-a{
                        margin-top: 63px;
                        margin-left: -60px;
                        float: left;
                        width: 76px;
                        height: 19px;
                        border-radius: 20px;
                        background-color: #f44336;
                    } 
                }
                .footer
                {
                    .col-md-4
                    {
                        .face-fra{.footer-logo{max-width: 340px;}}
                    }
                    .col-md-8{
                        .footer-list
                        {     padding-left: 47px;
                            .footer-tel
                            {
                                .nal{
                                    li {    margin: 0px 0px 21px 3px;
                                        a{margin-left: 0px;
                                            font-size:14px;}
                                        }
                                    }
                                    h4{
                                        margin-left: 43px;
                                        font-size: 14px;
                                        width: 90px;
                                    }
                                }
                            }
                            .footer-pi{    margin-left: -156px;}
                        }
                    }

                }

            }
            @media screen and (max-width: 380px) {
                body{
                    span {display: none;}

                    .col-md-7{
                        .img-list-book{
                            .icon-play-h{display: none;}
                        }
                    }

                }
                .container-fluid{
                    .contac-list{
                        .contact-form{

                            margin: 0;
                            .form-contact{
                                width: 288px;
                                height: 40px;
                            }
                        }
                    }
                    .sesstion-comment 
                    {
                        .comment-list{    margin-left: -30px;}
                    }
                    .title-list-rotund{
                        .col-md-2{
                            .img-rotund{   
                                margin-left: 19%;
                                margin-top: 20px;
                            }                      
                            a {
                                display: none;
                            }
                        }
                    }
                    .col-md-6{
                        margin-left: 0px;
                        .rectangle{
                            .prev {display: none;}
                            .next {display: none;}
                        }
                        .title-bottom{padding: 9% 5% 0% 12%;
                            .page-text-a{padding-top:20px;
                                .text-1{
                                    font-size: 28px;
                                    margin-top: 41px;
                                }
                            }
                            .page-text-b{
                                padding-bottom: 52px;
                                p{
                                    padding-top: 23px;
                                }
                                .icon-top{width: 153px;}
                                #icon-title-next{
                                    max-width:103px;
                                    margin-right: 0px;
                                }
                            }
                        }
                    }
                    .section-title-1{
                        .top-text{
                            margin-top: 15px;
                        }
                        .span-text-1{
                            .img-conter{
                                margin-left: 3px;
                                margin-top: 79px;
                            }
                            .text-a{padding-bottom: 3px;}
                        }
                    }
                    .sesstion-title-2 {
                        padding-top: 30px;
                        .col-md-5 {
                            .title-lisst{
                                margin: 20% 0 0 2%;
                                width:345px;
                                .now {
                                    a{ font-size: 16px;}
                                }
                            }
                        }
                    }
                    .col-md-7{
                        padding-right:0px;
                        padding-top: 50px;

                    }
                    .title-list-nav{
                        .title-top{display:none;}

                    }
                    .container-fluid{
                        .col-md-2{display:none;}
                    }
                    .img-book-bottom{
                        .button-home
                        { p{display:none;}

                    }
                }

                .sesstion-teacher {
                    .col-md-6
                    { 
                        .teacher{    margin: 69px 64px 0px 35px;}
                    }
                }

                .footer{

                    .footer-logo{
                        max-width: 360px;
                    }
                    .footer-list{
                        padding-left: 10px;
                    }
                }
            }
        }
        @media screen and (max-width: 1025px) and (min-width:790px) 
        {


            body{
                .rectangle{
                    .prev{display: none;}
                    .next{
                        display: none;
                    }
                }
            }
            .container-fluid 
            {
                .list-inline{
                    .title-list-nav{
                        a{     margin-left: 5px;
                            font-size: 12px;
                            .logo {
                                margin-top: 0;
                                max-height: 26px;
                            }
                        }
                    }
                    .title-login
                    {
                        left: 24px;
                        font-size: 12px;
                    }
                    .title-creat
                    {
                        left: -76px;
                        font-size: 12px;

                    }

                }
                .title-bottom {
                    .page-text-a {   
                        padding-top: 40px;
                        .icon-b{      
                            height: 14px;
                            width: 55px;
                            margin: 2px 0px 0px -55px;
                        }
                        .text-1{    font-size: 37px;}
                        .icon-a1{
                            height: 12px;
                            margin: -19px 38px 0px 0px;}

                            .icon-bb{
                                height: 14px;
                                width: 55px;
                                margin: -19px -30px 0px 0px;
                            }
                            .icon-ab{
                                height: 14px;
                                width: 55px;
                                margin: -46px -42px 0px 0px;
                            }
                        }
                        .page-text-b{
                            p{
                                padding-top: 17px;
                            }
                            #icon-title-next{
                                margin-right: 0px;
                            }
                        }
                    }
                    .section-title-1{ padding: 10% 1% 0% 4%;
                        .span-text-1{
                            h2{
                                font-size: 29px;
                            }
                        } 
                    }

                    .sesstion-title-2 {
                        .title-lisst{
                            margin: 20% 0 0 15%;
                            p{
                                a{
                                    font-size: 18px;
                                }
                            }
                            .ti-star 
                            {
                                a{font-size: 18px;}
                            }

                        }
                        .img-book-bottom {
                            right: 1px;
                            bottom: -25px;
                        }
                        .col-md-7{
                            max-width: 50%;
                            float: right;
                            .img-list-book{
                                .icon-play-h{
                                    margin-top: -157px;
                                    width: 100px;
                                    height: 56px;
                                    border-radius: 100px;
                                    background-color: #673ab7;
                                    box-shadow: 10px 10px 30px 0 rgba(0,0,0,0.3);
                                    position: absolute;
                                    margin-left: 181px;
                                    .ti-control-forward{

                                    }
                                    #icon-home-play{

                                        font-size: 40px;
                                        margin-left: 33px;
                                        margin-top: 7px;  
                                    }
                                }
                            }
                        }
                    }
                    .title-list-rotund 
                    {
                        div{ 
                            .text-rotund{   
                                font-size: 13px;
                                margin-left: -15px;
                            }
                            .img-rotund{
                                max-width: 100%;
                                margin-left: -6%;
                            }
                        }
                    }
                    .sesstion-teacher 
                    {
                        .col-md-6 {
                            .teacher {
                                margin: 96px 28px 0px 57px;
                                .icon-list-b{       
                                    width: 43px;
                                    height: 12px;
                                    margin-left: -43px;
                                    margin-top: 9px;
                                }
                                .icon-list-1{
                                    left: 40px;
                                    top: 84px;
                                    height: 14px;
                                    width: 31px;
                                }
                                .teacher-col{
                                    font-size: 20px;
                                }
                                .list-text{
                                    margin-top: -35px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    .contac-list
                    {
                        .contact-form {
                            float: left;
                            margin: 19% 0 0 5%;
                        }
                    }

                    .footer {
                        .footer-logo{
                            max-width: 300px;
                        }
                    }
                    .rectangle
                    { 
                        .img-big{margin-top: 40px;}
                    }
                }
            }
            @media screen and (max-width: 415px) and (min-width:390px) 
            {
                body{
                    .title-list-nav{
                        .title-top{
                            display: none;
                        }

                    }
                    .col-md-7{
                        .img-list-book{
                            .icon-play-h{display: none;}
                        }
                    }


                    .col-md-2{display: none;}

                    .title-bottom{ 
                        padding: 9% 5% 0% 12%;
                        span{display: none;}
                        .page-text-b{
                            .icon-top{
                                width: 150px;
                                margin-bottom: 47px;

                            }
                        }

                    }
                    .rectangle{
                        .next{display: none;}
                        .prev{display: none;}
                    }

                    .navbar-nav{
                        margin: 0.5px -15px;
                    }
                    .sesstion-title-2
                    {
                        .col-md-5 {  
                            .title-lisst { margin: 20% 0 0 4%;}
                        }

                    }

                    .title-list-rotund{
                        .icon_support{
                            display: none;
                        }
                    }
                    .contac-list{
                        .contact-form{
                            ul{
                                li{
                                    .form-contact{
                                        width: 276px;
                                        height: 40px;
                                    }
                                }
                            }
                        }
                    }
                    .footer{
                        .footer-logo{
                            max-width: 394px;
                        }
                    }
                    .title-bottom
                    { 
                        .page-text-a 
                        {
                            .text-1{ font-size: 38px;}
                        }
                        .page-text-b{
                            p{
                                max-width: 260px;
                                padding-top: 44px;
                            }
                        }
                    }
                    .sesstion-teacher 
                    {
                        .col-md-6 
                        {
                            .teacher{

                                margin: 135px 21px 0px 23px;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 790px) and (min-width:430px) 
            {
                body{
                    .col-md-2{
                        display: none;
                    }
                    .title-list-rotund{
                        .icon_support{
                            display: none;
                        }
                    }
                    .rectangle{
                        .prev{display: none;}
                        .next{
                            display: none;
                        }
                    }

                    .title-bottom{
                        padding: 9% 5% 0% 18%;


                    }

                    .sesstion-teacher
                    {
                        .col-md-6 
                        {
                            .img-teacher{    max-height: 856px;}
                            .teacher {
                                .icon-list-1
                                {
                                    left: 90px;
                                    top: -14px;
                                }
                            }
                        }
                    }

                    .section-title-1
                    {
                        .span-text-1{
                            max-width: 675px;
                            .img-responsive{
                                display: -webkit-inline-box;
                            }
                        }

                    }
                    .sesstion-comment{
                        .comment-title {
                            max-width: 600px;
                            min-height: 287px;
                        }
                    }
                    .footer 
                    {
                        .footer-list{padding-left: 0px;}
                        .face-fra{    text-align: center;}
                    }

                    .sesstion-title-2
                    { 
                        .img-list-book {    
                            padding-top: 95px;
                            .img-book-bottom
                            {    
                                right: 72px;
                                bottom: -60px;
                            }
                            .icon-play-h{
                                margin-top: -243px; 
                                margin-left: 270px;
                            }
                        }
                    }
                    .title-list-rotund {
                        div {
                            float: left;
                            margin-left: 10%;
                            .img-rotund{
                                max-width: 100%;
                            }
                            .text-rotund{
                                margin-left: 68px;
                            }
                        }
                    }

                }
            }
