@media screen and (max-width: 1480px) {

 .container-fluid{
    .list-inline 
    {
        .title-list-nav 
        {
            a{margin-left: 14px;}
        }
        .title-creat{
            left: -34px;
            .icon-sreach{
                margin-left: 127px;
            }
        }
        .title-login{left: 66px;}
    }

    .title-bottom{    padding: 9% 5% 0% 22%;
        #logo-1{margin-bottom: -10%;}
        .page-text-a {
          .text-1 { font-size: 47px;}
          .icon-ab{    margin: -57px -3px 0px 0px;}
          .icon-a1{   margin:-24px 89px 0px 0px;}
          .icon-bb{margin: -24px 9px 0px 0px;}
      }
      .page-text-b p{
        max-width: 406px;
        padding-top: 60px;
        font-size: 13px;
    }
}

.rectangle{
   .prev {
    p{

        margin: 5px 0px 0px 26px;
    }
}
}
.section-title-1{    padding: 17% 1% 0% 7%;
    .span_text1{     max-width: 265px;
        h2{    font-size: 28px;}
        .top-text-2{       margin-top: 0px;}
        .text-a{ p{    padding-top: 22px;    font-size: 16px;}}}
        .top-text{    margin-top: -49px;

        }
    }

    .sesstion-title-2{
       .title-lisst {    margin: 20% 0 0 27%;
           .ti-star {
               a {font-size: 22px;}
               }}
               }}
           }